.content{
    padding:10px;
    margin:auto;
    max-width: 50rem;
    box-shadow: cadetblue  0px 0px 10px;
    min-height:30rem;
    border: 1px solid #fff8dc70
}

.content ul{
    padding:0;
    margin:0;
}
.content ul li{
    display:flex;
    flex-direction: row;
}

main{
    margin: 2rem auto;
    text-align: center;
}

body {
    margin:0;
}